.page-sidebar, #wrap-footer, .page-header {
	display: none;
}

#wrap {
	background-color: #f2f2f2;
}
.page-content {
	right: 0%;
	width: 100%;
}


.btn-block {
  display: block;
  width: 40%;
  padding-right: 0;
  padding-left: 0;
}

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signin input[type="text"],.form-signin input[type="password"] { border: 1px solid rgb(50, 118, 177); }
